.App {
  text-align: center;
}

input[type="text"] {
  margin-bottom: 20px;
}

.fa-spinner {
  margin: 0 auto;
}

.movie-list-item {
  height: 400px;
  position: relative;
  margin-bottom: 40px;
}

.movie-list-item img {
  max-height: 350px;
  margin: 0 auto;
  display: block;
}

.movie-list-item .align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 0 auto;
}